html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#panolens-container {
  height: 100%;
  width: 100%;
}

.myDiv {
  margin: 1;
  padding: 1;
  position: absolute;
  left: 5000px;
  top: 150px;
  display: flex;
  justify-items: center;
  flex-direction: row;
  align-items: bottom;
  color: #fff;
  text-shadow: 0 0 2px #000;
  top: 0;
  lefT: 0;
  display: none;
  text-align: center;
}
  
.myDiv2 {
  margin: 1;
  padding: 1;
  position: absolute;
  left: 5000px;
  top: 150px;
  display: flex;
  justify-items: center;
  flex-direction: row;
  align-items: bottom;
  color: #fff;
  text-shadow: 0 0 2px #000;
  top: 0;
  lefT: 0;
  display: none;
  text-align: center;  
  
  
  
}

button {
  position: absolute;
  top: 5px;
  width: 100px;
  height: 30px;
}

#btn1 {
  left: 55px;
}

#btn2 {
  left: 165px;
}

#btn3 {
  left: 275px;
}

#bar {
  position: absolute;
  top: 10px;
  background-color: #fff;
  height: 100%;
  transition: width 0.1s ease;
}

#bar.hide {
  opacity: 0;
  transition: opacity 1s ease;
}